body {
  text-align: center;
  background-color: white;
  font-family: "Orbitron", sans-serif;
}

#level-title {
  font-size: 3rem;
  margin:  5%;
  color: #c40808;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: gray;
  opacity: 0.8;
}

.red {
  background-color: #c40808;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 20px;
}

footer p {
  color: #c40808;
  margin: 0;
  font-size: 30px;
}

footer .fa-heart {
  color: #c40808;
}

.footer-logo {
  width: 100px;
  height: auto;
}